<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    <mapper>标签：根标签
    namespace属性：SQL映射文件的命名空间，保证全局唯一
    namespace一般对应DAO接口的全限定名，即包+接口名
-->
<mapper namespace="cn.duozai.dao.SysUserMapper">
    <!--
        <select>标签：定义查询语句
        id属性：SQL语句的标识符，在命名空间下唯一，一般对应DAO接口的方法名
        resultType属性：SQL语句返回值类型/方法的返回值类型
    -->
    <select id="count" resultType="int">
        SELECT COUNT(1) FROM t_sys_user
    </select>
</mapper>
