.main .body .inner{padding:50px;}
.main .body .inner img{float: left;margin-right: 50px;}
.main .body .inner h1{color:#0a5eb6;padding-top: 15px;}
.main .body .inner p{color:#5a656c;line-height: 35px;}
